/*! yahdrib 2012-06 mobile - http://github.com/sv1l/yahdrib */

/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

#chromeframe {
  /*margin: 0.2em 0; /* h5bp */
  /*padding: 0.2em 0; /* h5bp */
  /*background: #ccc; /* h5bp */
  color: black; /* h5bp */
  /* yahdrib */
  margin: 0.25em 0;
  padding: 0.5em;
  background-color: #fdd;
  border: 1px solid #f00; border-left: 0; border-right: 0;
  text-align: center;
  font-weight: bold;
}

/* =============================================================================
   Mobile layout
   ========================================================================== */

.container {
  max-width: 40em;
  margin: auto;
  padding: 0 0.5em;
}


/* =============================================================================
   Author primary styles
   ========================================================================== */
/*!author mobile*/

